{{define "page"}}
<div class="px-6">
    <h1 class="py-4 text-4xl semibold tracking-tight">Help page</h1>
    <p class="text-gray-800">To get in touch, email me at
        <a href='mailto:mail@gmail.com' class="underline">mail@gmail.com</a>
    </p>
    {{end}}
</div>
